@model cidade_alta_criminal_code.Data.Requests.LoginRequest

@{
    ViewData["Title"] = "Login";
}

@if (ViewBag.Message == "fail")
{
    <span class="text-danger">Falha no login. Verifique se seu usuário e senha estão corretos.</span>
}

<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="color: midnightblue">
        <!--<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" enctype="multipart/form-data" style="margin-top: 80px">-->
        <form asp-controller="Login" asp-action="SignInUser" data-ajax="true" data-ajax-method="POST" enctype="multipart/form-data" style="margin-top: 80px">
            <h6 class="text-center" style="font-size: 22px; color: darkslateblue"><b>Entrar no sistema.</b></h6>

            <div class="form-group">
                <label asp-for="UserName">Usuário: </label>
                <input asp-for="UserName" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="Password">Senha:</label>
                <input asp-for="Password" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Entrar</button>
            </div>
        </form>
    </div>
</div>