@using Microsoft.AspNetCore.Identity
<!-- inject SignInManager<IdentityUser> SignInManager -->
<!-- inject UserManager<IdentityUser> UserManager -->
@inject UserManager<IdentityUser<int>> UserManager
@inject SignInManager<IdentityUser<int>> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        Olá @User.Identity?.Name
    </li>
    <li class="nav-item">
        <a  class="form-inline" asp-controller="Logout" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Register" asp-action="Index">Cadastrar-se</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="Login" asp-action="Index">Login</a>
    </li>
}
</ul>
